@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body, html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
}
header nav{
  width: 100%;
  max-width: 1400px;
  margin: 10px auto;
}
nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
nav ul li{
  text-decoration: none;
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

section{
  margin: 20px auto 60px;
  padding: 0 20px;
  width: auto;
  max-width: 1000px;
}
footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 10px auto 50px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000;
}
 
footer ul{
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}